/* ===========================================================================================
 *
 * 						Global Styles
 *
 * =========================================================================================== */

/* line 51, style.sass */

* {
  text-rendering: optimizeLegibility;
}

/* line 55, style.sass */

body {
  background-color: #c2c2c2;
  font-size: 16px;
  color: #082f42;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 63, style.sass */

h1 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 71, style.sass */

p {
  font-size: 16px;
  color: #082f42;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

/* line 79, style.sass */

h2 {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 88, style.sass */

h3 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 96, style.sass */

h4 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 104, style.sass */

h5 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 115, style.sass */

a:hover,
a:focus {
  color: #008ab1;
  text-decoration: none;
}

/* line 120, style.sass */

::-webkit-input-placeholder {
  color: #888888 !important;
}

/* line 123, style.sass */

:-moz-placeholder {
  color: #888888 !important;
}

/* line 126, style.sass */

::-moz-placeholder {
  color: #888888 !important;
}

/* line 129, style.sass */

:-ms-input-placeholder {
  color: #888888 !important;
}

/* line 133, style.sass */

a {
  color: blue;
  text-decoration: underline;
}

/* ===========================================================================================
 *
 * 						Adjustments
 *
 * =========================================================================================== */

@media (max-width: 991px) {
  /* line 146, style.sass */

  html,
  body {
    overflow-x: hiomme;
  }
}

/* ===========================================================================================
 *
 * 						HEADER
 *
 * =========================================================================================== */

/* line 156, style.sass */

header {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
}

/* line 158, style.sass */

header .top-header {
  background-color: #002b46;
  min-height: 47px;
  width: 100%;
  padding: 4px 0;
}

/* line 163, style.sass */

header .top-header svg {
  width: 38px;
  height: 38px;
  vertical-align: middle;
}

/* line 167, style.sass */

header .top-header a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

/* line 171, style.sass */

header .top-header ul {
  float: right;
  margin: 0;
}

/* ===========================================================================================
 *
 * 						Menu
 *
 * =========================================================================================== */

/* line 182, style.sass */

#NP ul {
  float: right;
}

/* line 185, style.sass */

#NP ul li a {
  font-size: 18px;
  color: #002b47;
  font-family: "Open Sans", sans-serif;
  padding: 49px 30px 45px !important;
}

@media (max-width: 1199px) {
  /* line 185, style.sass */

  #NP ul li a {
    padding: 35px 30px 37px !important;
  }
}

/* line 194, style.sass */

.nav li a {
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* line 200, style.sass */

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #008ab1 !important;
  color: white !important;
}

/* line 204, style.sass */

.navbar-nav > li > .dropdown-menu {
  background: #6a6a6a;
  padding: 0;
}

/* line 207, style.sass */

.navbar-nav > li > .dropdown-menu li {
  border-bottom: 1px solid #003300;
}

/* line 209, style.sass */

.navbar-nav > li > .dropdown-menu li:nth-last-child {
  border-bottom: 1px solid transparent;
}

/* line 211, style.sass */

.navbar-nav > li > .dropdown-menu a {
  font-size: 11px;
  color: white;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 5px;
}

/* line 219, style.sass */

#main-menu .caret {
  display: none;
}

/* line 224, style.sass */

#mobile-toggle svg {
  width: 32px;
  height: 32px;
}

/* line 229, style.sass */

.modal-body {
  position: relative;
  padding: 20px 20px 40px;
}

/* line 233, style.sass */

#mobileMenuWrapper {
  z-index: 999999999999999 !important;
  height: 100vh;
  position: fixed;
  top: -1px;
  bottom: 0px;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  left: -120%;
  width: 225px;
  max-width: 100%;
  background-color: #5f0c0c;
  -webkit-transition: all 300ms cubic-bezier(1, 0.01, 0, 1) 0s;
  transition: all 300ms cubic-bezier(1, 0.01, 0, 1) 0s;
  background-image: -webkit-linear-gradient(90deg, #2d5076 0, #7092b7 100%);
}

/* line 250, style.sass */

#mobileMenuWrapper.open {
  left: 0px;
  bottom: 0px;
}

/* line 254, style.sass */

#mobileMenuWrapper #mobile-menu {
  overflow: auto;
  padding: 0px 8px 10px;
  overflow-x: hidden;
}

/* line 258, style.sass */

#mobileMenuWrapper #mobile-menu > li#triggerClose {
  color: white;
  float: right;
  display: inline;
  font-size: 22px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 265, style.sass */

#mobileMenuWrapper #mobile-menu a {
  width: 100%;
  color: white;
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 14px;
  padding: 8px 10px;
}

/* line 272, style.sass */

#mobileMenuWrapper #mobile-menu a:hover {
  background-color: #003cab;
  text-decoration: none;
}

/* line 275, style.sass */

#mobileMenuWrapper ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* line 279, style.sass */

#mobileMenuWrapper {
  background-color: rgba(0, 0, 0, 0.96);
}

/* line 281, style.sass */

#mobileMenuWrapper a {
  text-decoration: none;
}

/* line 283, style.sass */

#mobileMenuWrapper ul.mDropdown {
  margin: 0 15px;
  display: none;
}

/* line 286, style.sass */

#mobile-toggle {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  /* line 286, style.sass */

  #mobile-toggle {
    margin-top: -7px;
  }
}

@media (max-width: 342px) {
  /* line 286, style.sass */

  #mobile-toggle {
    margin-top: 5px;
  }
}

/* line 295, style.sass */

#mobile-menu-col {
  top: 13px;
  right: 20px;
  float: right;
  position: relative;
  margin-right: -14px;
}

@media (max-width: 991px) {
  /* line 295, style.sass */

  #mobile-menu-col {
    margin-top: -70px;
    width: 100%;
    padding: 0;
  }
}

/* line 307, style.sass */

#mobile-logo {
  width: 40%;
  float: left;
  margin-top: 27px;
  margin-bottom: 20px;
}

/* line 312, style.sass */

#mobile-logo a {
  margin: 0 !important;
}

/* line 314, style.sass */

#mobile-logo svg#logo {
  width: 250px;
  max-width: 250px;
}

/* line 320, style.sass */

#mobile-toggle {
  padding: 7px 7px 3px;
  display: inline-block !important;
  float: right;
}

@media (min-width: 991px) {
  /* line 320, style.sass */

  #mobile-toggle {
    display: none !important;
  }
}

/* line 326, style.sass */

#mobile-toggle svg {
  max-width: 47px;
  width: 100%;
  height: auto;
  margin-top: -9px;
}

/* line 332, style.sass */

#mobile-toggle svg g rect,
#mobile-toggle svg g path {
  fill: #002b46;
}

/* line 340, style.sass */

#mobileMenuWrapper #mobile-menu a:hover {
  background-color: #008ab1;
}

/* line 343, style.sass */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #9d0098;
}

/* ===========================================================================================
 *
 * 						Logo
 *
 * =========================================================================================== */

/* line 357, style.sass */

.logo-area {
  z-index: 9999999;
}

/* line 360, style.sass */

.logo svg {
  margin-bottom: -5px;
}

@media (max-width: 767px) {
  /* line 360, style.sass */

  .logo svg {
    width: 250px;
  }
}

@media (max-width: 379px) {
  /* line 360, style.sass */

  .logo svg {
    width: 184px;
    margin-left: -22px;
  }
}

/* ===========================================================================================
 *
 * 						Masthead
 *
 * =========================================================================================== */

/* line 376, style.sass */

.masthead {
  height: 287px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 690px) {
  /* line 376, style.sass */

  .masthead {
    height: 150px;
  }
}

@media (max-width: 320px) {
  /* line 376, style.sass */

  .masthead {
    height: 120px;
  }
}

/* line 386, style.sass */

.masthead img {
  position: absolute;
  top: -110px;
  width: 100%;
  height: auto;
}

@media (max-width: 1170px) {
  /* line 386, style.sass */

  .masthead img {
    top: -100px;
  }
}

@media (max-width: 990px) {
  /* line 386, style.sass */

  .masthead img {
    top: -50px;
  }
}

@media (max-width: 480px) {
  /* line 386, style.sass */

  .masthead img {
    top: -24px;
  }
}

@media (max-width: 450px) {
  /* line 386, style.sass */

  .masthead img {
    top: 0;
  }
}

/* line 402, style.sass */

.top-header ul > li:nth-child(2) .st2 {
  fill: white !important;
}

/* line 404, style.sass */

.top-header ul > li:nth-child(2) .st1 {
  fill: #008ab1 !important;
}

/* line 408, style.sass */

.top-header ul > li:nth-child(3) .st0 {
  fill: #008ab1 !important;
}

/* line 410, style.sass */

.top-header ul > li:nth-child(3) .st1 {
  fill: white !important;
}

/* ===========================================================================================
 *
 * 						Content
 *
 * =========================================================================================== */

/* line 422, style.sass */

.bc-content {
  padding: 42px 0;
}

/* ===========================================================================================
 *
 * 						Login Form
 *
 * =========================================================================================== */

/* line 434, style.sass */

.modal-body {
  text-align: center;
}

@media (max-width: 480px) {
  /* line 437, style.sass */

  .modal-body #login div {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  /* line 441, style.sass */

  .modal-body #login input[type="submit"] {
    width: 95%;
    margin-left: 1px;
    margin: 5px 0 0px -3px;
  }
}

@media (max-width: 320px) {
  /* line 441, style.sass */

  .modal-body #login input[type="submit"] {
    width: 93%;
  }
}

/* line 448, style.sass */

.modal-body #login a {
  color: #008ab1;
}

@media (max-width: 480px) {
  /* line 448, style.sass */

  .modal-body #login a {
    margin: 40px 0 0 -3px;
  }
}

/* line 452, style.sass */

.bc-mobilelogin {
  font-size: 16px;
  padding: 10px;
  max-width: 158px;
  background-color: #610000;
  position: absolute;
  margin: 0;
}

@media (min-width: 722px) {
  /* line 452, style.sass */

  .bc-mobilelogin {
    display: none;
  }
}

@media (max-width: 722px) {
  /* line 462, style.sass */

  .login-area {
    display: none;
  }
}

/* line 465, style.sass */

.login-area #login {
  display: inline-block;
  float: right;
  padding-top: 20px;
}

@media (max-width: 991px) {
  /* line 465, style.sass */

  .login-area #login {
    padding-top: 28px;
  }
}

/* line 472, style.sass */

#login div {
  width: 165px;
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 992px) {
  /* line 472, style.sass */

  #login div {
    width: 147px;
  }
}

/* line 479, style.sass */

#login input[type="submit"] {
  background-color: #002b46;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 17px;
  border: none;
  margin-left: -4px;
}

/* line 487, style.sass */

#login input[type="text"],
#login input[type="password"] {
  width: 100%;
  background: white;
  background: white;
  border-style: Solid;
  border-color: #008ab1;
  border-width: 1px;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 14px;
  color: #610000;
  font-family: "Open Sans", sans-serif;
}

/* line 501, style.sass */

#login a {
  position: absolute;
  margin: 32px 0 0 -3px;
  font-size: 10px;
}

/* ===========================================================================================
 *
 * 						FOOTER
 *
 * =========================================================================================== */

/* line 516, style.sass */

.pre-footer {
  margin-top: 50px;
  border-top: 10px solid #0089b1;
  padding: 50px 0 30px;
  background: #e5e5e5;
}

/* line 521, style.sass */

.pre-footer ul {
  text-align: center;
}

@media (max-width: 991px) {
  /* line 523, style.sass */

  .pre-footer ul li {
    padding: 16px;
  }
}

/* line 528, style.sass */

.copyright {
  background-color: #3a3a3a;
  padding: 40px 0;
}

/* line 531, style.sass */

.copyright p {
  text-align: right;
  font-size: 16px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* ===========================================================================================
 *
 * 						Calendar
 *
 * =========================================================================================== */

/* line 549, style.sass */

.bc-calendar div:nth-child(n+9) {
  display: none;
}

/* line 551, style.sass */

.bc-calendar .col {
  margin: 10px;
  padding: 20px 20px;
  background: white;
  background: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000');
  border: solid 1px #e3e3e3;
}

@media (min-width: 991%) {
  /* line 551, style.sass */

  .bc-calendar .col {
    width: 31%;
  }
}

/* line 561, style.sass */

.bc-calendar .col h4 {
  margin-bottom: 2px;
}

/* line 563, style.sass */

.bc-calendar .col h4 a {
  color: #002a48;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 26px;
}

/* line 570, style.sass */

.bc-calendar .col p {
  font-size: 16px;
}

/* line 572, style.sass */

.bc-calendar .col .bc-date,
.bc-calendar .col .bc-email {
  font-size: 14px;
  margin-bottom: 0px;
}

/* line 575, style.sass */

.bc-calendar .col .bc-email {
  margin-bottom: 15px;
}

/* line 577, style.sass */

.bc-calendar .col .bc-email a {
  color: #008ab1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition: all 0.2s ease, padding 0.8s linear;
}

/* line 581, style.sass */

.bc-calendar .col .bc-email a:hover {
  color: #00627e;
}

/* line 584, style.sass */

.bc-calendar .col .read-more {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: -18px 0 0 0;
  text-align: right;
}

/* line 589, style.sass */

.bc-calendar .col .read-more a {
  color: #008ab1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition: all 0.2s ease, padding 0.8s linear;
}

/* line 593, style.sass */

.bc-calendar .col .read-more a:hover {
  color: #00627e;
}