/* ===========================================================================================
 *
 * 						Global Styles
 *
 * =========================================================================================== */

/* line 51, style.sass */

* {
  text-rendering: optimizeLegibility;
}

/* line 55, style.sass */

body {
  background-color: #c2c2c2 !important;
  font-family: Verdana, sans;
  font-size: 12px;
  height: 100vh;
}

/* line 61, style.sass */

h1 {
  font-size: 32px;
  font-family: Verdana, sans;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 69, style.sass */

p {
  font-size: 16px;
  color: #082f42;
  font-family: Verdana, sans;
  font-weight: 400;
  margin-bottom: 20px;
}

/* line 77, style.sass */

h2 {
  font-size: 28px;
  font-family: Verdana, sans;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 86, style.sass */

h3 {
  font-size: 24px;
  font-family: Verdana, sans;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 94, style.sass */

h4 {
  font-size: 18px;
  font-family: Verdana, sans;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 102, style.sass */

h5 {
  font-size: 16px;
  font-family: Verdana, sans;
  color: #002b47;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 113, style.sass */

a:hover,
a:focus {
  color: #008ab1;
  text-decoration: none;
}

/* line 118, style.sass */

::-webkit-input-placeholder {
  color: #888888 !important;
}

/* line 121, style.sass */

:-moz-placeholder {
  color: #888888 !important;
}

/* line 124, style.sass */

::-moz-placeholder {
  color: #888888 !important;
}

/* line 127, style.sass */

:-ms-input-placeholder {
  color: #888888 !important;
}

/* line 131, style.sass */

a {
  color: blue;
  text-decoration: underline;
}

/* ===========================================================================================
 *
 * 						Adjustments
 *
 * =========================================================================================== */

@media (max-width: 991px) {
  /* line 144, style.sass */

  html,
  body {
    overflow-x: hiomme;
  }
}

/* line 148, style.sass */

.container {
  max-width: 1055px;
}

/* line 150, style.sass */

.bc-wrap {
  -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.98);
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.98);
  margin: 0px auto;
  border: 10px solid #0071c2;
  border-top: 0px;
  background-color: white;
}

/* ===========================================================================================
 *
 * 						HEADER
 *
 * =========================================================================================== */

/* line 166, style.sass */

header .left {
  width: 46%;
  float: left;
}

/* line 169, style.sass */

header .left img {
  width: 100%;
}

/* line 171, style.sass */

header .right {
  width: 54%;
  float: left;
}

/* line 174, style.sass */

header .right img {
  width: 100%;
}

/* ===========================================================================================
 *
 * 						Menu
 *
 * =========================================================================================== */

/* line 183, style.sass */

#NP {
  padding-left: 15px;
}

/* line 185, style.sass */

#NP ul {
  margin-top: 8px;
  text-align: center;
}

/* line 189, style.sass */

#NP ul li a {
  font-family: Verdana;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  padding: 8px 0;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* line 198, style.sass */

#NP ul li a .caret {
  display: none;
}

/* line 201, style.sass */

#NP ul > li:before {
  content: url("../images/dot.png");
  float: left;
  padding-top: 11px;
}

/* line 207, style.sass */

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  background: #cbe0ee !important;
  color: black !important;
}

/* line 211, style.sass */

.navbar-nav > li > .dropdown-menu {
  background: #6a6a6a;
  padding: 0;
}

/* line 214, style.sass */

.navbar-nav > li > .dropdown-menu li {
  border-bottom: 1px solid #003300;
}

/* line 216, style.sass */

.navbar-nav > li > .dropdown-menu li:nth-last-child {
  border-bottom: 1px solid transparent;
}

/* line 218, style.sass */

.navbar-nav > li > .dropdown-menu a {
  font-size: 11px;
  color: white;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 5px;
}

/* line 226, style.sass */

#main-menu .caret {
  display: none;
}

/* line 231, style.sass */

#mobile-toggle svg {
  width: 32px;
  height: 32px;
}

/* line 236, style.sass */

.modal-body {
  position: relative;
  padding: 20px 20px 40px;
}

/* line 240, style.sass */

#mobileMenuWrapper {
  z-index: 999999999999999 !important;
  height: 100vh;
  position: fixed;
  top: -1px;
  bottom: 0px;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  left: -120%;
  width: 225px;
  max-width: 100%;
  background-color: #5f0c0c;
  -webkit-transition: all 300ms cubic-bezier(1, 0.01, 0, 1) 0s;
  transition: all 300ms cubic-bezier(1, 0.01, 0, 1) 0s;
  background-image: -webkit-linear-gradient(90deg, #2d5076 0, #7092b7 100%);
}

/* line 257, style.sass */

#mobileMenuWrapper.open {
  left: 0px;
  bottom: 0px;
}

/* line 261, style.sass */

#mobileMenuWrapper #mobile-menu {
  overflow: auto;
  padding: 0px 8px 10px;
  overflow-x: hidden;
}

/* line 265, style.sass */

#mobileMenuWrapper #mobile-menu > li#triggerClose {
  color: white;
  float: right;
  display: inline;
  font-size: 22px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 272, style.sass */

#mobileMenuWrapper #mobile-menu a {
  width: 100%;
  color: white;
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 14px;
  padding: 8px 10px;
}

/* line 279, style.sass */

#mobileMenuWrapper #mobile-menu a:hover {
  background-color: #003cab;
  text-decoration: none;
}

/* line 282, style.sass */

#mobileMenuWrapper ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* line 286, style.sass */

#mobileMenuWrapper {
  background-color: rgba(0, 0, 0, 0.96);
}

/* line 288, style.sass */

#mobileMenuWrapper a {
  text-decoration: none;
}

/* line 290, style.sass */

#mobileMenuWrapper ul.mDropdown {
  margin: 0 15px;
  display: none;
}

/* line 293, style.sass */

#mobile-toggle {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  /* line 293, style.sass */

  #mobile-toggle {
    margin-top: -7px;
  }
}

@media (max-width: 342px) {
  /* line 293, style.sass */

  #mobile-toggle {
    margin-top: 5px;
  }
}

/* line 302, style.sass */

#mobile-menu-col {
  top: 13px;
  right: 20px;
  float: right;
  position: relative;
  margin-right: -14px;
}

@media (max-width: 991px) {
  /* line 302, style.sass */

  #mobile-menu-col {
    margin-top: -70px;
    width: 100%;
    padding: 0;
  }
}

/* line 314, style.sass */

#mobile-logo {
  width: 40%;
  float: left;
  margin-top: 27px;
  margin-bottom: 20px;
}

/* line 319, style.sass */

#mobile-logo a {
  margin: 0 !important;
}

/* line 321, style.sass */

#mobile-logo svg#logo {
  width: 250px;
  max-width: 250px;
}

/* line 327, style.sass */

#mobile-toggle {
  padding: 7px 7px 3px;
  display: inline-block !important;
  float: right;
}

@media (min-width: 991px) {
  /* line 327, style.sass */

  #mobile-toggle {
    display: none !important;
  }
}

/* line 333, style.sass */

#mobile-toggle svg {
  max-width: 47px;
  width: 100%;
  height: auto;
  margin-top: -9px;
}

/* line 339, style.sass */

#mobile-toggle svg g rect,
#mobile-toggle svg g path {
  fill: #002b46;
}

/* line 347, style.sass */

#mobileMenuWrapper #mobile-menu a:hover {
  background-color: #008ab1;
}

/* line 350, style.sass */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #9d0098;
}

/* ===========================================================================================
 *
 * 						Logo
 *
 * =========================================================================================== */

/* line 364, style.sass */

.logo-area {
  z-index: 9999999;
}

/* line 367, style.sass */

.logo svg {
  margin-bottom: -5px;
}

@media (max-width: 767px) {
  /* line 367, style.sass */

  .logo svg {
    width: 250px;
  }
}

@media (max-width: 379px) {
  /* line 367, style.sass */

  .logo svg {
    width: 184px;
    margin-left: -22px;
  }
}

/* ===========================================================================================
 *
 * 						Masthead
 *
 * =========================================================================================== */

/* line 384, style.sass */

.bc-slidearea {
  background-color: #0071c2;
  padding: 15px 0 0 0;
}

/* line 387, style.sass */

.bc-slidearea .bc-inner {
  max-width: 980px;
  margin: 0 auto;
}

/* line 390, style.sass */

.bc-slidearea .bc-inner h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

/* line 395, style.sass */

.bc-slidearea .bc-inner p {
  font-family: Verdana, sans;
  font-size: 12px;
  color: white;
}

/* line 399, style.sass */

.carousel-control {
  background-image: none;
  display: none;
}

/* line 403, style.sass */

.carousel-indicators {
  display: none;
}

/* ===========================================================================================
 *
 * 						Content
 *
 * =========================================================================================== */

/* line 413, style.sass */

.bc-content {
  padding: 0;
}

/* line 417, style.sass */

.bc-content-mid .mid {
  background-color: #c2c2c2;
}

/* line 419, style.sass */

.bc-content-mid .col {
  padding: 20px 35px;
}

/* line 421, style.sass */

.bc-content-mid .col .indent {
  margin-bottom: 25px;
  margin-left: 17px;
}

/* line 426, style.sass */

.titles {
  font-family: impact, verdana, sans;
  font-size: 22px;
  width: 90%;
  display: block;
  padding: 5px;
  border-left: 2px solid #0071c2;
  border-bottom: 2px solid #0071c2;
  background: url(../images/sh-bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* ===========================================================================================
 *
 * 						HOMEPAGE
 *
 * =========================================================================================== */

/* line 445, style.sass */

#welcome-message {
  color: white;
  margin-top: -3px;
}

@media (max-width: 767px) {
  /* line 445, style.sass */

  #welcome-message {
    margin-top: 15px;
    padding: 0 10px;
  }
}

/* ===========================================================================================
 *
 * 						Login Form
 *
 * =========================================================================================== */

/* line 459, style.sass */

.modal-body {
  text-align: center;
}

@media (max-width: 480px) {
  /* line 462, style.sass */

  .modal-body #login div {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  /* line 466, style.sass */

  .modal-body #login input[type="submit"] {
    width: 95%;
    margin-left: 1px;
    margin: 5px 0 0px -3px;
  }
}

@media (max-width: 320px) {
  /* line 466, style.sass */

  .modal-body #login input[type="submit"] {
    width: 93%;
  }
}

/* line 473, style.sass */

.modal-body #login a {
  color: #008ab1;
}

@media (max-width: 480px) {
  /* line 473, style.sass */

  .modal-body #login a {
    margin: 40px 0 0 -3px;
  }
}

/* line 477, style.sass */

.bc-mobilelogin {
  font-size: 16px;
  padding: 10px;
  max-width: 158px;
  background-color: #610000;
  position: absolute;
  margin: 0;
}

@media (min-width: 722px) {
  /* line 477, style.sass */

  .bc-mobilelogin {
    display: none;
  }
}

@media (max-width: 722px) {
  /* line 487, style.sass */

  .login-area {
    display: none;
  }
}

/* line 490, style.sass */

.login-area #login {
  display: inline-block;
  float: right;
  padding-top: 20px;
}

@media (max-width: 991px) {
  /* line 490, style.sass */

  .login-area #login {
    padding-top: 28px;
  }
}

/* line 497, style.sass */

#login div {
  width: 165px;
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 992px) {
  /* line 497, style.sass */

  #login div {
    width: 147px;
  }
}

/* line 504, style.sass */

#login input[type="submit"] {
  background-color: #002b46;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 17px;
  border: none;
  margin-left: -4px;
}

/* line 512, style.sass */

#login input[type="text"],
#login input[type="password"] {
  width: 100%;
  background: white;
  background: white;
  border-style: Solid;
  border-color: #008ab1;
  border-width: 1px;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 14px;
  color: #610000;
  font-family: Verdana, sans;
}

/* line 526, style.sass */

#login a {
  position: absolute;
  margin: 32px 0 0 -3px;
  font-size: 10px;
}

/* ===========================================================================================
 *
 * 						FOOTER
 *
 * =========================================================================================== */

/* line 541, style.sass */

.pre-footer {
  margin-top: 50px;
  border-top: 10px solid #0089b1;
  padding: 50px 0 30px;
  background: #e5e5e5;
}

/* line 546, style.sass */

.pre-footer ul {
  text-align: center;
}

@media (max-width: 991px) {
  /* line 548, style.sass */

  .pre-footer ul li {
    padding: 16px;
  }
}

/* line 553, style.sass */

.copyright {
  background-color: #3a3a3a;
  padding: 40px 0;
}

/* line 556, style.sass */

.copyright p {
  text-align: right;
  font-size: 16px;
  color: white;
  font-family: Verdana, sans;
}

/* ===========================================================================================
 *
 * 						Calendar
 *
 * =========================================================================================== */

/* line 574, style.sass */

.bc-calendar div:nth-child(n+9) {
  display: none;
}

/* line 576, style.sass */

.bc-calendar .col {
  margin: 10px;
  padding: 20px 20px;
  background: white;
  background: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000');
  border: solid 1px #e3e3e3;
}

@media (min-width: 991%) {
  /* line 576, style.sass */

  .bc-calendar .col {
    width: 31%;
  }
}

/* line 586, style.sass */

.bc-calendar .col h4 {
  margin-bottom: 2px;
}

/* line 588, style.sass */

.bc-calendar .col h4 a {
  color: #002a48;
  font-family: Verdana, sans;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 26px;
}

/* line 595, style.sass */

.bc-calendar .col p {
  font-size: 16px;
}

/* line 597, style.sass */

.bc-calendar .col .bc-date,
.bc-calendar .col .bc-email {
  font-size: 14px;
  margin-bottom: 0px;
}

/* line 600, style.sass */

.bc-calendar .col .bc-email {
  margin-bottom: 15px;
}

/* line 602, style.sass */

.bc-calendar .col .bc-email a {
  color: #008ab1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition: all 0.2s ease, padding 0.8s linear;
}

/* line 606, style.sass */

.bc-calendar .col .bc-email a:hover {
  color: #00627e;
}

/* line 609, style.sass */

.bc-calendar .col .read-more {
  font-family: Verdana, sans;
  font-size: 14px;
  margin: -18px 0 0 0;
  text-align: right;
}

/* line 614, style.sass */

.bc-calendar .col .read-more a {
  color: #008ab1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition: all 0.2s ease, padding 0.8s linear;
}

/* line 618, style.sass */

.bc-calendar .col .read-more a:hover {
  color: #00627e;
}